# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
.env

# Data
data/processed/*
data/raw/*
!data/processed/.gitkeep
!data/raw/.gitkeep

# Models
models/*
!models/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# MLflow
mlruns/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints
